.blog_container-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem , 1fr));
    place-items: center;
    gap: 2rem;
    width: min(90%, 1200px);
    margin-inline: auto;
}
.blog_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 1px rgba(196, 195, 195, 0.338);
    padding: 1rem;
    border-radius: .5rem;
}
.blog_container > *:nth-child(1){
    flex: 0 0 35%;
}
.img_container {
    /* overflow: hidden; */
}
.img_container img{
    display: block;
    width: 10rem;
    height: auto;
    object-fit: cover;
}
.blog_container > *:nth-child(2){
    flex: 0 0 63%;
    /* background-color: #44ffaa; */
    padding: 2rem;
}
.blog_content{
    text-align: left;
}
.blog_content h5{
    padding-block: 1rem;
    text-transform: capitalize;
}