.project_container {
  /* padding: 3rem; */
  /* display: grid; */
  /* place-items: center; */
}
.project__title {
  text-transform: uppercase;
  margin-bottom: max(3vh, 3rem);
  border-bottom: 4px solid var(--bgc-orange);
  font-size: clamp(1rem, 7vw, 4rem);
  text-align: center;

  /* font-family: "My Soul", cursive; */
  font-family: "poppins", sans-serif;
  /* font-family: "Niconne", cursive; */
  /* font-family: "Playball", cursive11; */
  /* font-family: "Nosifer", cursive; */
  /* font-family: "Red Hat Display", sans-serif; */
}
.btn_container button:has(a) {
  font-size: 1.5rem;
}
.btn_container button:has(a):hover {
  color: pink;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon > i {
  color: var(--bgc-cyan);
  padding: 1rem;
  font-size: clamp(3rem, 5vw, 5rem);
}
/* * Project Layout */
.button_continer {
  background-color: var(--bgc-body);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.action_btn_container i {
  font-size: unset;
}
.button_container > .fas {
  font-size: unset;
}
.form_title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.project_layout {
  /* display: flex; */
  /* gap: 2rem; */
  /* align-items: center; */
  /* justify-content: center; */
}
.project_layout > *:nth-child(1) {
  flex: 1 1 0%;
  height: max-content;
}
.project_icon {
  color: black;
  transition: color 300ms ease-in;
}
.project_icon:hover {
  color: rgb(243, 243, 245);
}
.project_layout > *:nth-child(2) {
  flex: 1 1 100%;
  /* padding: 1rem; */
}
@media (max-width: 35rem) {
  .project_layout {
    flex-wrap: wrap;
  }
}
.input_area {
  display: flex;
  gap: 1rem;
  /* border: 1px solid var(--bgc-orange); */
  /* background-color: rgb(235, 230, 230); */
  align-items: center;
  justify-content: center;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}

.input_area > * {
  flex-basis: 100%;
}
label ~ input {
  /* background-color: transparent; */
  border: none;
  outline: none;
  padding: 0.5rem;
}
label {
  font-size: 0.5rem;
  text-align: left;
}
::placeholder {
  padding: 1rem;
  text-transform: capitalize;
  font-size: 0.5rem;
}
.project_form {
  background-color: var(--bgc-cyan);
  border-radius: 0.5rem;
  padding: 2rem;
  /* ! Hidden for temporary */
  display: none;
}
.single_data {
}
.input_area {
  margin-bottom: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
}

.single_project {
  /* flex: 1 1 17rem; */
  background-color: var(--bgc-orange);
  /* max-width: 17rem; */
  border-radius: 0.5rem;
}
.btn_prj {
  border: unset;
  border-radius: unset;
}
.btn_prj i {
  font-size: clamp(0.7rem, 3vw + 0.7rem, 1rem);
  color: var(--bgc-cyan);
  transition: color 300ms ease-in;
}
.btn_prj i:hover {
  color: var(--bgc-body);
}
.project_dsc {
  text-align: center;
  text-transform: capitalize;
  padding-inline: 2rem;
  padding-block: 1rem;
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}
.project_name {
  color: var(--bgc-cyan);
  text-align: center;
  padding-inline: 1rem;
  padding-block: 1rem;
  /* text-transform: ; */
  font-size: 2rem;
  line-height: 1.1;

  /* font-family: "My Soul", cursive; */
  /* font-family: "Niconne", cursive; */
  font-family: "Playball", cursive11;
  /* font-family: "Nosifer", cursive; */
  /* font-family: "Red Hat Display", sans-serif; */
}
.project_ctg {
  text-align: center;
  padding-inline: 1rem;
}

.btn_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--bgc-body); */
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 0.5rem;
}

.action_btn_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
}
.delete_btn {
  background-color: transparent;
  border: none;
  outline: none;
}
.form_alert {
  text-transform: capitalize;
}
.success {
  color: var(--bgc-cyan);
}
.fa-edit {
  color: red;
  transition: color 300ms ease-in;
}
.fa-times {
  color: var(--bgc-body);
  transition: color 300ms ease-in;
}
:is(.fa-edit):hover:focus {
  color: var(--bgc-cyan);
}
:is(.fa-times):hover:focus {
  color: var(--bgc-orange);
}
